@tailwind base;
@tailwind components;
@tailwind utilities;















.flexCenterStart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetweenStart {
  display: flex;
  justify-content: space-between;
  
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}
